// Typography styles

h1, h2, h3, h4{
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 10px;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.6rem;
}

p {
	font-size: 1.6rem;

	&:not(:last-of-type) {
		margin-bottom: 10px;
	}
}

ul, ol {
	padding-left: 15px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

b,
strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

li {
	margin-bottom: 5px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

a {
	transition: $hover-fade;
	text-decoration: none;
	color: $black;

	&:hover, &:active, &:focus {
		color: $primary; 
	}
}

small {
	font-size: 1.3rem; // 14px;
}