// Variables styling

// Fonts
$standard-font: 'Montserrat', sans-serif;

// Colours
$white: #fff;
$black: #000;
$grey: #eeefe8;
$primary: #ADB84F;
$primary-two: #C9D872;

// Sizes
$size-max: 1220px;

// Misc
$hover-fade: all 500ms ease-out