// Variables styling

// Fonts
$standard-font: Verdana, sans-serif;

// Colours
$white: #fff;
$black: #000;
$primary: #B0BB52;

// Sizes
$size-max: 1220px;

// Misc
$hover-fade: all 500ms ease-out